__pycache__/
*.py[cod]
*.pyo
*.pyd
*.spec
build/
dist/
.pytest_cache/
.venv/
venv/
build_venv/
temp/
*.egg-info/
.mypy_cache/

# Installer output
installer_output/

# Executables
*.exe
*.msi

# Temporary files
*.log
*.tmp
*.temp
~*
